@{
    ViewBag.Title = "Page home";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <center><img style="height: 610px; width: 520px" src="~/Image/logo.png" /></center>
</body>
</html>
