@{
    ViewBag.Title = "GROUP 4 - Quality Assurance Manager";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>TAN QUY TUONG</strong><br />
    <strong>NGUYEN PHUC THUAN</strong><br />
    <strong>TRINH VIET LAM</strong><br />
    <strong>LA PHUONG VU HOANG</strong><br />
    <strong>NGUYEN THANH CONG</strong><br />
    <strong>TAN KHOA</strong><br />

</address>