@model WebApplication2.Models.Department

@{
    ViewBag.Title = "Details departments";
}

<cneter>
    <h2>Details departments</h2>
</cneter>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit","Departments", new { id = Model.DepartId }, new {@class="btn btn-success"}) |
    @Html.ActionLink("Back to List", "Index", "Departments", new { @class = "btn btn-primary" })
</p>
